h1{
    border: 5px;
    border-style: initial;
    color: lightsalmon;
    margin: 8px;
    padding: 5px 12px;
    text-align: center;
    border-radius: 5px;


}
button{
   
    background-color: darkcyan;
    border-radius: 5px;
    border: 5px;
    margin: 6px;
    padding: 5px 12px;
    

}