<p>mln works!</p>

<h1> {{myInput.name}}</h1>
<h1> {{myInput.Age}}</h1>
<h1> {{myInput.Gender}}</h1>
<h1> {{myInput.Designation}}</h1>
<div>
    <button (click)="Datasend()"> Send Data
    </button>
</div>